.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(245, 158, 11, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 101;
  backdrop-filter: blur(8px);
}

.logo {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navbar {
    height: 60px;
  }

  .logo {
    font-size: 1.3rem;
  }
}
