.links {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.link {
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 0 0.5rem;
}

.link:hover,
.link:active,
.active {
  border-bottom: 2px solid black;
  background: #e69b00;
}

@media (max-width: 768px) {
  .links{
    display: none;
  }
}